.home-slideshow {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
}


.slide {
    width: 100%;
    height: 100%;
    position: absolute;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.image-one {
    position: absolute;
    top: 0;
    left: 25%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 150%;
}

.image-two {
    position: absolute;
    top: 5%;
    left: 10%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 125%;
}

.image-three {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 125%;
}

.image-four {
    position: absolute;
    top: 10%;
    left: -15%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 225%;
}