.image-carousel {
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
    min-height: 100vh;
}

.carousel-image {
    opacity: 0;
    transition: opacity 0.75s ease-in-out;
    width: 100%;
    grid-column-start: 1;
    grid-row-start: 1;
    z-index: -1;
}

.carousel-image.active {
    opacity: 1;
}

.carousel-image.slide1 {
    scale: 150%;
}

.carousel-image.slide2 {
    scale: 140%;
}

.carousel-image.slide3 {
    scale: 140%;
    margin-top: 20%
}

.carousel-image.slide4 {
    scale: 160%;
}
