.home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
}

.dark-filter {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.342);
    z-index: 2;
}

.home-txt {
    height: 60%;
    margin: 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    z-index: 3;
}

.home-txt-title {
    text-align: center;
    font-family: AlexBrush;
    font-size: 76px;
    color:white;
}

.home-txt-date {
    text-align: center;
    font-family: Abel;
    font-size: 24px;
    color:white;
}