.home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.dark-filter {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.342);
    z-index: 2;
}

.home-txt {
    height: 40%;
    width: 40%;
    background-color: aqua;
    z-index: 1;
}