.party-member-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 30%;
    padding: 5%;
    padding-bottom: 10%;
}

.party-member-container img {
    width: 100%;
}

.party-member-txt {
    font-size: 24px;
    white-space: nowrap;
    -webkit-text-stroke: 1.5px rgba(0, 0, 0, 0.255);
    text-align: center;
}